
/* Object Classes */
.update-btn-container {
    display: inline-block;
    width: 100%;
    height: auto;
}
.update-btn {
    width: 100%;
    height: 35px;
    text-align: center;
    text-decoration: none;
    color: blueviolet;
    border: 1px solid blueviolet;
    background-color: white;
    border-radius: 3px;
    cursor: pointer;
    margin: 5px 0;
    transition: 0.3s ease-in-out;
}
.update-btn:hover {
    background-color: blueviolet;
    color: white;
}


.delete-btn-container {
    display: inline-block;
    width: 100%;
    height: auto;
}
.delete-btn {
    text-align: center;
    width: 100%;
    height: 35px;
    text-transform: uppercase;
    text-decoration: none;
    color: red;
    border: none;
    border-radius: 3px;
    background-color: white;
    cursor: pointer;
    margin: 5px 0;
    transition: 0.3s ease-in-out;
}
.delete-btn:hover {
    background-color: #390000;
    color: white;
}

.create-btn-container {
    display: inline-block;
    width: 100%;
    height: auto;
}
.create-btn {
    text-align: center;
    width: 100%;
    height: 35px;
    text-decoration: none;
    color: green;
    border: 1px solid green;
    border-radius: 3px;
    background-color: white;
    cursor: pointer;
    margin: 5px 0;
    transition: 0.3s ease-in-out;
}
.create-btn:hover {
    background-color: green;
    color: white;
}

.closeFormButton {
    border-radius: 50px;
    border: 2px solid #DF4744;
    background-color: #FC5753;
    width: 25px;
    height: 25px;
    padding: 0;
    outline: none;
    cursor: pointer;
}
.closeFormButton i {
    color: #7E0508;
    font-size: 14px;
    display: inline;
    padding: 0;
}

.alert-orange {
    color: orange;
}
.alert-red {
    color: red;
}

.displayNone {
    display: none;
}

.displayBlock {
    display: block !important;
}

.post-scriptum {
    padding: 0;
    margin: 0;
    font-weight: 100;
    font-size: 12px;
    font-style: italic;
}

#forfaitAlertClose {
    width: 40px;
    height: auto;
    padding: 0;
    font-size: 15px;
}

/* Forfait Main */
.forfait-main {
    width: 100%;
    height: auto;
    overflow-x: hidden;
}
.forfait-main .head {
    width: 98%;
    text-align: center;
    margin: 3% 0 3% 0;
    border-bottom: 1px solid lightgrey;
}
.forfait-main .head .alert-message {
    background-color: #bb0000;
    position: fixed;
    width: 100%;
    left: 0;
    top: 1%;
    color: white;
    font-size: 20px;
    padding: 5px 5%;
    transition: 0.5s ease-in-out;
    display: none;
}

.session-msg {
    width: 99%;
    padding: 1% 0;
    color: #e6e6e6;
}
.session-msg i {
    font-size: 30px;
    display: inline;
    vertical-align: bottom;
}
.session-msg p {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}
.session-alert {
    background-color: #ce4949;
    border-left: 10px solid maroon;
}
.session-success {
    background-color: #28ab56;
    border-left: 10px solid #127700;
}

.create-forfait-form {
    position: fixed;
    top: 35%;
    left: 40%;
    width: 25%;
    height: auto;
    padding: 1%;
    background-color: white;
    border: 1px solid #c1c1c1;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 30%);
}
.create-forfait-form h2 {
    text-align: center;
}
.create-forfait-form form {
    color: black;
    font-weight: 500;
}
.create-forfait-form-fields {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px 0;
}
.create-forfait-form-fields select {
    max-width: 100%;
}
.create-forfait-form-fields label {
    padding-bottom: 10px;
    cursor: default;
    font-size: 18px;
}
.create-forfait-form-fields input {
    border-radius: 0;
}

.forms-container {
    position: fixed;
    display: none;
    top: 20%;
    left: 38%;
    width: 30%;
    height: auto;
    padding: 1%;
    background-color: white;
    border: 1px solid #c1c1c1;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 30%);
}

.forms-container form {
    color: black;
    font-weight: 500;
}

.form-information > p {
    font-size: 16px;
    text-align: center;
    line-height: 18px;
    color: darkred;
}

.forms-container-fields {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px 0;
}

.forms-container-fields select {
    max-width: 100%;
}

.forms-container-fields label {
    padding-bottom: 10px;
    cursor: default;
    font-size: 18px;
}
.forms-container-fields label span {
    font-size: 16px;
    font-weight: 400;
    display: block;
}

.forms-container-fields input {
    border-radius: 0;
}

.custom-plugin-submit {
    margin-left: 25%;
    width: 50%;
    border-radius: 0;
    background: black;
    border: none;
    color: white;
    padding: 3%;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
}

/* *********
 * Overview
 * *********
 */
.overview-head {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.overview-head h2 {
    font-size: 25px;
    font-weight: 500;
}

.status-legend-main {
    background-color: white;
    width: 20%;
    border:solid #dadada 1px;
    border-radius: 5px;
    box-shadow: #c0b2db24 5px 15px 10px 0;
    margin: 0 auto;
}

.status-legend-main h3 {
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    margin: 4% 2% 3% 2%;
}

.overview-head .head-title {
    width: 70%;
}

.status-legend-block {
    display: flex;
    flex-direction: revert;
    justify-content: space-between;
    margin: 2% 0;
}

.status-legend-block .usable-false {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-left:10px;
    margin-top: 5px;
    box-shadow: 0 0 5px 1px rgba(0 0 0 / 20%);
    background-color: #ff5858;
}
.status-legend-block .usable-true {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-left:10px;
    margin-top: 5px;
    box-shadow: 0 0 5px 1px rgba(0 0 0 / 20%);
    background-color: #60d860;
}

.status-legend-block p {
    margin: 2% 0;
    line-height: 25px;
    text-align: left;
    width: 80%;
}

.selected-forfait-table {
    border: 1px solid lightgrey;
}

.selected-forfait-table th {
    width:200px;
    background-color:rgb(255, 255, 255);
    color:black;
    padding: 2%;
    font-size: 15px;
    text-align: left;
    font-weight: 500;
    margin-left: 10px;
    border: solid #dadada 1px;
}

.selected-forfait-table td {
    background-color: #f5f5f5;
    text-align: right;
    font-size: 15px;
    padding: 2%;
    font-weight: 500;
}

.overview-list-container {
    width: 100%;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.selected-forfait-datas {
    border-radius: 5px;
    background-color: white;
    border: solid #dadada 1px;
    box-shadow: #c0b2db24 5px 15px 20px 0;
}

.selected-forfait-alert {
    background-color: red;
    padding: 0 5%;
    width: 90%;
}

.selected-forfait-alert p {
    color: white;
    font-size: 18px;
    margin: 0;
    text-align: center;
}

/*
 * Tableau Overview
 */
.custom-table-widget {
    width: 100%;
    border: 1px solid lightgrey;
}

.custom-table-widget thead {
    background-color: #353535;
    color: #ffffff;
}

.custom-table-widget .custom-col {
    padding: 5px;
    font-weight: 500;
}

.custom-table-widget tr th:nth-child(0n+1) {
    width: 20%;
}
.custom-table-widget tr th:nth-child(0n+2) {
    width: 30%;
}
.custom-table-widget tr th:nth-child(0n+3) {
    width: 30%;
}
.custom-table-widget tr th:nth-child(0n+4) {
    width: 20%;
}

.custom-table-widget tbody tr th {
    padding: 10px;
    font-weight: 400;
}

.custom-table-widget tbody tr:nth-child(odd) {
    background-color: #f5f5f5;
}
.custom-table-widget tbody tr:nth-child(even) {
    background-color: #d8d8d8;
}

.tasks-listing {
    width: 70%;
}
.tasks-listing h3 {
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
}

.custom-table-overview {
    border: 1px solid lightgrey;
}

.custom-table-overview thead {
    background-color: #353535;
    color: #ffffff;
}

.custom-table-overview .custom-col {
    padding: 10px;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 500;
}

.custom-table-overview tr th:nth-child(0n+1) {
    width: 2%;
}
.custom-table-overview tr th:nth-child(0n+2) {
    width: 58%;
}
.custom-table-overview tr th:nth-child(0n+3) {
    width: 10%;
}
.custom-table-overview tr th:nth-child(0n+4) {
    width: 20%;
}
.custom-table-overview tr th:nth-child(0n+5) {
    width: 10%;
}

.custom-table-overview tbody .default-table-line {
    height: 50px;
}

.custom-table-overview tbody tr th {
    padding: 0 10px;
    font-weight: 400;
}

.custom-table-overview tbody tr:nth-child(odd) {
    background-color: #f5f5f5;
}
.custom-table-overview tbody tr:nth-child(even) {
    background-color: #d8d8d8;
}

.custom-table-overview tbody tr .usable-true {
    width: 25px;
    height: 25px;
    background-color: limegreen;
    border-radius: 50px;
    margin: 0 auto;
    box-shadow: 0 0 5px 0 rgba(0 0 0 / 20%);
}
.custom-table-overview tbody tr .usable-false {
    width: 25px;
    height: 25px;
    background-color: red;
    border-radius: 50px;
    margin: 0 auto;
    box-shadow: 0 0 5px 0 rgba(0 0 0 / 20%);
}

.status-legend-block-false {
    display: flex;
}

.status-legend-block-false p {
    text-align:left;
    padding-left:5px;
}

.head-title {
    margin-left:100px;
}

.head-title h2 {
    text-align: left;
    line-height: 2px;
}

.head-title p {
    text-align: left;
    font-weight:bold;
    color:black;
}

.head-title .post-scriptum {
    font-style:normal;
    color:black;
    font-weight:300;
    line-height: 2px;
}

.overview-head .head-title{
    margin-top:-15px;
}

.overview-list-container {
    width: 98%;
    margin-top: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.overview-forfaits-infos {
    width: 25%;
    margin-bottom: 20px;
    border-radius: 5px;
}

.selected-forfait-datas h3 {
    margin-left: 10px;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
}
.selected-forfait-datas p {
    padding: 0 5%;
    font-size: 16px;
    font-weight: 500;
}

.selected-forfait-table {
    border-collapse: collapse;
    width: 100%;
    border-radius:0px;
}

.selected-forfait-table tr {
    border:solid #dadada 1px;
}

.selected-forfait-table td {
    background-color: rgba(255, 255, 255, 0);
}

.case-action {
    background-color:#ffffff ;
    padding-bottom: 10px;
}

.case-action p {
    font-size: 15px;
    font-family: sans-serif;
    margin-left: 8px;
    margin-top:0px;
}

.boutons {
    display: flex;
    margin-left:20px;
}

.case-action .boutons .create-btn {
    width: 90px;
    color:white;
    background-color: #6FC378;
}

#updateBtn {
    width: 90px;
    color:white;
    background-color: #390B86;
}

.delete-btn{
    width: 100%;
    color:white;
    background-color: #ff5858;
}

.custom-table-overview {
    width: 100%;
    box-shadow: #c0b2db24 5px 15px 10px 0;
    border:solid #dadada 1px;
    border-collapse: collapse;
}

.custom-table-overview thead {
    color:black;
    background-color: white;
}

.custom-table-overview th {
    border: solid 1px #dadada;
}

.custom-table-overview tbody tr:nth-child(even) {
    background-color: white;
}

.forfait-instructions {
    width: 98%;
    height: auto;
}
.forfait-instructions h2 {
    font-size: 28px;
    text-align: center;
}
.forfait-instructions .instructions-content ul {
    list-style: square;
    padding-left: 25px;
}